<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fordev.taski">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:forceDarkAllowed="false"
        android:name=".Persistencia"
        android:theme="@style/Theme.Taski">
        <activity android:name=".DetallesFacturaVentas"/>
        <activity android:name=".Inventario" />
        <activity android:name=".CreacionDeRecibo"/>
        <activity android:name=".GastosNegocio" />
        <activity android:name=".DetallesFacturaGastos" />
        <activity android:name=".VentasNegocio" />
        <activity android:name=".UserMenuPrincipal" />
        <activity android:name=".DatosUsuarioDashboard" />
        <activity android:name=".VerificationOTP" />
        <activity android:name=".SignUpScreen" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".CreacionDeReciboCobrar" />
        <activity android:name=".InformacionPersonal" />
        <activity android:name=".ListaClientes" />
        <activity android:name=".InformacionNegocio" />
        <activity android:name=".ListaProveedores" />
        <activity android:name=".InventarioPerfil" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>